<button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Search By Category <i class="fa fa-angle-down fa-sm fa-button"></i>
</button>

<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="/bride">Bride & Bridesmaids</a>
  <a class="dropdown-item" href="/groom">Groom & Groomsmen</a>
  <a class="dropdown-item" href="/venue">Venue</a>
  <a class="dropdown-item" href="/photoshoot">Couple Photoshoot</a>
  <a class="dropdown-item" href="/reception">Reception</a>
  <a class="dropdown-item" href="/images">All Photos</a>
</div>
