
* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #757D75;
    font-family: 'Raleway', sans-serif;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.navbar-trans {
background: transparent; }

.bg-cover {
  display: flex;
  background-image: url('../webimages/background-lg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  /* border-bottom: 3px solid #fff;; */
}

.heading {
  /* width: 100%; */
  align-items: flex-start;
  justify-content: center;
  opacity: .8;
  margin-top: 15px;
}

.heading-text {
  color: white;
  background-color: #000;
  font-size: 3rem;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  border: 3px solid black;
}

button:hover, .heading-text:hover {
  background-color: #333;
  color: #fff;
}

.bg-footer{
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  opacity: .8;
  margin-top: 15px;
}

.bg-footer-txt {
  justify-content: center;
}

.bg-footer:hover {

}

h1 {
  color: #fff;

}

.collapse-background {
  background-color: #757D75;
}

.tn-image {
  height: 125px;
  width: 125px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
  border: 1px solid #333;
}

.content-text-right p {
  padding-left: 5px;
}

.tn-image-right {
  float: left;
  margin-right: 20px;
  border-radius: 5px;
  height: 150px;
  width: 150px;
}

.tn-image-left {
  float: right;
  margin-left: 20px;
  border-radius: 5px;
  height: 150px;
  width: 150px;
}

.proposal {
  height: 110px;
}

.wedding-sm {
  border-radius: 5px;
}

.story-of-us {
  background-color: #fff;
  justify-content: center;
  padding: 50px;

  /* clip-path: polygon(
  0 0,
  100% 0,
  100% 100%,
  0 90%
  ); */
}

.our-story {
  cursor: s-resize;
  background-color: #757D75;
  color: #fff;
  padding: 10px 30px 10px 30px;
  border-radius: 3px;
}

.image-gallery {
  background-color: #757D75;
  justify-content: center;
  padding: 50px;
}

.image-gallery-btn {
  cursor: s-resize;
  background-color: #fff;
  color: #757D75;
  padding: 10px 30px 10px 30px;
  /* border-radius: 3px; */
  font-size: 4rem;
  text-align: center;
}

.col-padding {
  padding-right: 0;
  margin-right: 0;
}

.story-of-us p {
  font-size: 4rem;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.contain {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* circle on line */
.contain::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #F22613;
    border: 4px solid #fff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}
/* triangle pointing to date */
.left::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 3px;
    z-index: 1;
    right:30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
}

.right::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent
}

.right::after {
    left: -13px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    /* box-shadow: 1px 5px 5px red; */
    /* border: 1px solid red; */
}

.end-box {
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    border-radius: 6px;
    padding: 20px 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.spacer {
  height: 50px;
}


/*********************/
a {
    color: #333;
}

a:hover {
    color: #333;
}
  a:link, a:visited, a:active, a:hover {
      text-decoration: none;
  }


.aborder {
    border: 1px solid #ddd;
    padding-top: 1.5rem;

}

.heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.media-type {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 1rem;
}

.offset-box {
    background-color: #fff;
    padding: 3px 5px 3px 5px;
    color: #333;
    text-align: center;
    position: absolute;
    top: -35px;
    left: 45%;
    margin: 0 auto;
    border-radius: 50%;
}

.aborder:hover{
    background-color: #fff;
}

.media-type:hover {
  color: #333;
}

.aborder:hover i:hover {
    color:red;
}

i {
    font-size: 3rem;
    color: #333;
    padding: 10px;
}

.offset-box p {
    padding: 10px;
}

.photos-videos {
  margin-top: 5rem;
}


/*********************/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
  width: 85%;
  margin: 0 auto;

}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 5px;

}

img {
  width: 100%;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
}

.photo {
  padding: 10px 10px 0px 10px;
  background-color: #fff;
}

.description {
  background-color: #fff;
  padding: 0px 10px 5px 10px; */
}

.description p {
  text-align: center;
  margin-bottom: 0px;
}

.btn {
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
}

.btn:hover {
  border: 1px solid #e8e8e8;
  padding: 6px 12px;
}

.dropdown {
  display: flex;
  justify-content: center;
}

.dropdown:hover {
  margin: 0px;
  padding: 0px;
}

.fa-button {
  color: #fff;
}

.mobile {
  margin-bottom: 15px;
}

.sticky, btn{
  position: fixed;
  top: 0;
  width: 87%;

}

.sticky-gap {
  padding-top: 49px;
}

/************************************/
/*
** START OF MEDIA QUERIES
**
/************************************/

@media screen and (max-width: 1000px) {
    .column {
        flex: 33%;
        max-width: 33%;
    }
}

@media screen and (max-width: 780px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }

    button {
      width: 100%;
      margin-bottom: 15px;
    }

    .mobile {
      min-width: 100%;
      display: block;
      margin-bottom: 0;
    }

    .fa-button {
      color: #fff;
    }

    .sticky, btn{
      position: fixed;
      top: 0;
      width: 87%;
      margin: 0 auto;
      right: 45px;
      border-radius: 0px;
    }

    .sticky-gap {
      padding-top: 49px;
    }

}

@media screen and (max-width: 500px) {
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      margin: 0;
      display: block;
      left: 0;
    }

    .sticky-gap {
      padding-top: 49px;
    }

    .column {
        flex: auto;
        width: 100%;
    }

    .row {
      width: 100%;
      margin: 0;
    }

    .photo {
      padding: 3px 3px 3px 3px;
      background-color: #fff;
      margin-top: 5px;
    }

    .heading-text {
      color: white;
      background-color: #000;
      font-size: 2rem;
    }

    button {
      width: 100%;
      margin-bottom: 5px;
      display: block;
    }

    .mobile {
      min-width: 100%;
      display: block;
      margin-bottom: 0;
    }

}
