
    <h1>Example App: About</h1>
    <p>About pages</p>

    {{#each row}}

    <a href="webimages/md_{{this.imageName}}" data-fancybox="gallery" data-caption="Caption #1">
      <img src="webimages/tn_{{this.imageName}}">
    </a>

    <a href="image.jpg" data-fancybox data-caption="Caption for single image">
	<img src="thumbnail.jpg" alt="" />
</a>


    {{/each}}


        {{#each url}}
            {{ body }}
        {{/each}}

<!-- </html> -->
