<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Example App: Home</h1>
    <p>Example app</p>
    {{#each row}}
        <ul>
        <li>
            {{this.term_id}} {{this.name}} {{this.slug}}
        </li>
        </ul>
    {{/each}}
</body>
</html>