<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>


  <!-- background cover image and text -->
  <div class="container-fluid bg-cover">
    <!-- <div class="heading flex">
      <p class="heading-text">
        2/23/2018
      </p>
    </div> -->

    <div class="bg-footer flex">
      <div class="row">
        <div class="col-md-6 bg-footer-txt">
          <a href="/about">
            <button class="heading-text">Photos</button>
          </a>
        </div>
        <div class="col-md-6">
          <p class="heading-text">Videos</p>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
