
  <!-- background cover image and text -->
  <div class="container-fluid bg-cover">
    <div class="bg-footer flex">
      <div class="row">
        <!-- photo button -->
        <div class="col-md-6 flex justify-content-end mobile">
          <a href="/images">
            <button class="heading-text">Photos</button>
          </a>
        </div>
        <!-- video button -->
        <div class="col-md-6 flex justify-content-start mobile">
          <a href="/videos">
            <button class="heading-text">Videos</button>
          </a>
        </div>
      </div>
    </div>
</body>
</html>
