<h1 class="text-center title">Videos</h1>

<div class="container">

  <div class="row">
    <div class="col-sm">
          <a data-fancybox href="https://youtu.be/-tVeTEF7cJI&amp;autoplay=1&amp;rel=0&amp;controls=1&amp;showinfo=0">
          <img src="webimages/engagement-photo.jpeg" class="photo" alt="">
          <div class="description">
            <p class="text-center">Paul's video of the surprise proposal</p>
          </div>
        </a>
    </div>

    <div class="col-sm">
          <a data-fancybox href="https://youtu.be/bS35EX5icYc&amp;autoplay=1&amp;rel=0&amp;controls=1&amp;showinfo=0">
          <img src="webimages/md_IMG_0326.JPG" class="photo" alt="">
          <div class="description">
            <p class="text-center">Wedding ceremony video by Alyssa Lemke</p>
          </div>
        </a>
    </div>

</div>
